<ion-header class="header-bg">
  <ion-toolbar class="transparent">
    <div class="profile-header">
      <ion-avatar class="avatar-bg">
        <img
          *ngIf="currentUser && currentUser.picture_thumbnail"
          [src]="currentUser.picture_thumbnail"
          [alt]="currentUser.fname"
        />
        <span *ngIf="currentUser && !currentUser.picture_thumbnail">
          {{ currentUser.fname | shortName }}
        </span>
      </ion-avatar>
      <ion-label class="user-name" *ngIf="currentUser"
        >{{ currentUser.fname }} {{ currentUser.lname }}</ion-label
      >
      <br />
      <ion-label *ngIf="currentUser" class="student-email"
        >{{ currentUser.email }}</ion-label
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <ion-list>
    <ion-item
      detail="false"
      button
      lines="full"
      routerLink="/tabs/menu/profile"
    >
      <ion-icon
        slot="start"
        class="ion-margin-end"
        name="person-outline"
      ></ion-icon>
      <ion-label class="signout">Profile</ion-label>
    </ion-item>
    <!-- <ion-item detail="false" button lines="full">
      <ion-icon
        slot="start"
        class="ion-margin-end"
        name="settings-outline"
      ></ion-icon>
      <ion-label class="signout">Settings</ion-label>
    </ion-item> -->
    <ion-item detail="false" button lines="full" (click)="logout()">
      <ion-icon
        slot="start"
        class="ion-margin-end"
        src="./assets/icon/signout.svg"
      ></ion-icon>
      <ion-label class="signout">Log Out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
